/* _______________________________*/
/* _________ EricKweyunga  _________*/
/* _______________________________*/
*{
    padding: 0;
    margin: 0;
}

div{
    height: auto;
    width: 100%;
    text-align: center;
}

